<div class="nav">
<%if current_user%>
<h3>Signed in as <%=current_user.name%></h3>
<%else%>
<h3>You are not signed in</h3> | <p><%=link_to "Sign in with Twitter", '/auth/twitter'%></p>
<%end%>
</div>
<div id="title">
  <h1>TweetPaper Home</h1>
  <img src="" />
</div>
<%if current_user%>
<div id="links">
  <table>
    <tr>
      <td>
        <p><%=link_to "My TweetPaper", '/frontpage/articles'%></p>
        <p><%=link_to "My Saved Articles", '/archive/clippings'%></p>
      </td>
    </tr>
  </table>
</div>
<%end%>
