<!DOCTYPE html>
<html>
<head>
  <title>Frontpage</title>
  <%= stylesheet_link_tag    "frontpage/application", media: "all" %>
  <%= javascript_include_tag "frontpage/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
