<!DOCTYPE html>
<html>
<head>
  <title>Frontpage</title>
  <%= stylesheet_link_tag    "frontpage/application", media: "all" %>
  <%= javascript_include_tag "frontpage/application" %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'></head>
</head>
<body>

<%= yield %>

</body>
</html>
